:root {
  --greenSeaweed: rgba(2, 128, 144, 1);
  --blueQueen: rgba(69, 105, 144, 1);
  --redFire: rgba(244, 91, 105, 1);
}


@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');

body {
  /* background-color: rgb(231, 212, 213) !important; */
  font-family: 'Asap', sans-serif;
}

.login {
  overflow: hidden;
  background-color: white;
  padding: 35px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
}
.login-title{
  color: #d8353d;
}
.login::before,
.login::after {
  content: '';
  position: absolute;
  width: 700px;
  height: 700px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}

.login::before {
  left: 40%;
  bottom: -130%;
  background-color: rgba(69, 105, 144, 0.15);
  animation: waves 6s infinite linear;
}

.login::after {
  left: -1%;
  bottom: -130%;
  background-color: rgba(2, 128, 144, 0.2);
  animation: waves 7s infinite;
}

.login>div input {
  font-family: 'Asap', sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}

.submit {
  background-color: #d8353d;
  font-family: 'Asap', sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: var(--redFire);
  transition: background-color 300ms;
}

.back {
  background-color: #8c8d8e !important;
  font-family: 'Asap', sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: var(--redFire);
  transition: background-color 300ms;
}

@keyframes waves {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.password-container {
  position: relative !important;
}

.password-container input {
  width: 100%;
  padding-right: 40px;
}

.toggle-password {
  position: absolute !important;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.error {
  padding: 0%;
  margin: 0;
}